.signup {
    position: relative;
    flex: 1 1 auto;
    align-items: center;
    /* margin-top: -15%; */
}
.signup-info {
    margin-right: 1rem;
    margin-bottom: 5rem;
}
@media(max-width: 1200px) {
    .signup {
        margin-top: 0;
    }
}
.twitter-icon {
    margin-bottom: 1rem;
}
.action-text {
    font-size: 2rem;
    color: #fff;
    margin-bottom: 4rem;
}
.btn-container {
    width: 100%;
}

.join {
    margin-bottom: 1rem;
    color: #fff;
}
.m-btn {
    margin-bottom: 1rem;
}